#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo ${grupo}
</p>


<p>
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

<p>Mais um parágrafo do meu formulário</p>

<p>teste</p>

<form>
	<input type="hidden" name="grupo" value=${grupo} />

	<h1>Cadastre seu livro aqui</h1>

	<label for="nome">Titulo</label>
	<input type="text" id="nome" name="nome">

	<label for="descricao">Descrição</label>
	<textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>

	<label for="numero">Código</label>
	<input type="text" id="numero" name="numero">

	<label for="tipo">Gênero</label>

	<input type="radio" id="tipo" name="tipo" value="r"> Romance
	<input type="radio" id="tipo" name="tipo" value="a"> Aventura
	<input type="radio" id="tipo" name="tipo" value="d"> Drama
	<input type="radio" id="tipo" name="tipo" value="c"> Comédia

	<label for="opcoes">Opções de capa</label>
	<select name="opcoes" id="opcoes">
		<option value="K">Kindle</option>
		<option value="M">Comum</option>
		<option value="D">Dura</option>
	</select>


</form>